<!-- <nav class="navigation" ng-controller="NavCtrl">
  <ul>
    <li><a ui-sref="settings" ng-show="isLoggedIn()">{{ currentUser().username }}</a></li>
    <li><a ui-sref="login" ng-hide="isLoggedIn()">Login</a></li>
    <li><a ui-sref="register" ng-hide="isLoggedIn()">Register</a></li>
    <li><a href="" ng-click="logout()" ng-show="isLoggedIn()">Logout</a></li>
  </ul>
  <div>
    <a ui-sref="main">{{ title }}</a>&nbsp;
    <a ui-sref="tasks.list">Tasks</a>
  </div>
</nav> -->

<!-- Navigation -->
<div ng-controller="NavCtrl">
  <a href="#" class="navigation-trigger icon-menu"></a>
  <nav class="contain">

    <ul class="navigation">
      <li><a ui-sref="settings" ng-show="isLoggedIn()">{{ currentUser().username }}</a></li>
      <li><a ui-sref="login" ng-hide="isLoggedIn()">Login</a></li>
      <li><a ui-sref="register" ng-hide="isLoggedIn()">Register</a></li>
      <li><a href="" ng-click="logout()" ng-show="isLoggedIn()">Logout</a></li>
    </ul>

    <div class="logo-container"><a ui-sref="main" class="button line-blue">{{ title }}</a></div>

  </nav>
</div>
