<div class="add-form col-lg-6 center">
  <form class="form" novalidate>
    <div class="form-group">
      <div class="input-group">
          <input class="input form-control input-sm" type="text" ng-model="newTask">
          <span class="input-group-btn">
              <button class="btn btn-default btn-xs" ng-click="addTask(newTask)">Add Task</button>
          </span>
      </div>
    </div>
  </form>
</div>

<div class="row" ng-init="findAll()">
  <p><strong>Tasks</strong></p>
  <div class="list-group col-lg-6">
    <div class="task list-group-item well well-sm" ng-repeat="task in tasks" animate-hide ng-hide="task.completed">

        <!-- complete task button -->
        <span class="row-action-primary" ng-click="completeTask(task)">
          <i class="ion-checkmark task-complete-button"></i>
        </span>

        <span class="row-content">
          <!-- task name -->
          <a ui-sref="tasks.edit({ id: task._id })">{{ task.name }}</a>
        </span>

        <!-- remove button -->
        <span class="task-remove-button action-secondary" ng-click="deleteTask(task)">
          <i class="ion-close"></i>
        </span>
    </div>
  </div>


<!--
  <p>Completed</p>

  <div class="completedTasks" ng-repeat="task in tasks | filter: !task.completed">
    <span class="task">{{ task.name }}</span>&nbsp;
    <a href="javaScript:void(0);" ng-click="deleteTask(task)">X</a>
  </div>
 -->
</div>
