<div ng-controller="SettingsCtrl">
  <div>
    Change Password
  </div>
  <form class="form" novalidate>
    <div class="form-group">
      <input class="form-control" type="password" name="oldPassword" placeholder="Old Password" ng-model="user.oldPassword">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="newPassword" placeholder="New Password" ng-model="user.newPassword">
    </div>
    <div class="form-group">
      <button class="btn btn-default btn-lg btn-block" ng-click="changePassword(user)">Submit</button>
    </div>
  </form>
</div>
