// $lightest-gray: #eee;
// $pretty-red: #cc5951;


// Taskodoro Colors by Sharla
$dark-purple: #908fb3;
$med-purple: #a6a5c2;
$light-purple: #d3d2e0;

$green: #ccffd9;
$light-green: #dfede1;

$main-gray: #edecec;
$background-gray: #e1dfdf;
$font-black: #404040;
