@mixin hover-link {
  cursor: pointer;
  @include transition-property (color);
  @include transition-duration(0.2s);

  &:hover {
    @include transition-property (color);
    @include transition-duration(0.2s);
    // color: $dark-purple;
    // color: #656392;
    color: #7d6392;
  }
}

@mixin center {
  margin: auto;
  float: none;
  text-align: center;
}
